<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="100" class="matero-col">

        <mat-card>
            <mat-card-content>
                <div fxLayout="row wrap" class="matero-row">
                    <section class="m-l-8 m-b-8">
                        <form class="form-field-full" #staffForm="ngForm"
                              name="staffForm">
                            <div class="matero-page-header-inner">
                                <mat-card-title>Thay đổi mật khẩu</mat-card-title>
                            </div>

                             <mat-form-field appearance="outline"  >

                                <mat-label>Tên tài khoản</mat-label>
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                                <input matInput
                                       placeholder="Tên tài khoản"
                                       name="UserName"
                                       #controlUserName="ngModel"
                                       [(ngModel)]="staff.UserName" disabled>
                            </mat-form-field>

                             <mat-form-field appearance="outline"  >
                                <mat-label>Mật khẩu hiện tại</mat-label>
                                <input matInput type="password"
                                       placeholder="Tên tài khoản"
                                       name="Password"
                                       #controlPassword="ngModel"
                                       [(ngModel)]="staff.Password" required>
                                <mat-error
                                           *ngIf="(staffForm.submitted || controlPassword.touched) && controlPassword.errors?.required">
                                    {{'validations.required' | translate}}
                                </mat-error>
                            </mat-form-field>
                             <mat-form-field appearance="outline"  >
                                <mat-label>Mật khẩu mới</mat-label>
                                <input matInput type="password"
                                       placeholder="Mật khẩu mới"
                                       name="NewPassword"
                                       #controlNewPassword="ngModel"
                                       [(ngModel)]="staff.NewPassword" required
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                                <mat-error
                                           *ngIf="(staffForm.submitted || controlNewPassword.touched) &&  controlNewPassword.errors?.required">
                                    {{'validations.required' | translate}}
                                </mat-error>

                                <mat-error
                                           *ngIf="(staffForm.submitted || controlNewPassword.touched) && controlNewPassword.errors?.pattern">
                                    Phải chứa ít nhất một số và một chữ hoa và chữ thường
                                    chữ cái và ít nhất 8 ký tự trở lên.
                                </mat-error>

                            </mat-form-field>

                             <mat-form-field appearance="outline"  >
                                <mat-label>Xác nhận khẩu mới</mat-label>
                                <input matInput type="password"
                                       placeholder="Xác nhận khẩu mới"
                                       name="ConfirmPassword"
                                       #controlConfirmPassword="ngModel"
                                       [(ngModel)]="staff.ConfirmPassword" required
                                       pattern="{{ controlNewPassword.value }}">
                                <mat-error
                                           *ngIf="(staffForm.submitted || controlConfirmPassword.touched) && controlConfirmPassword.errors?.required">
                                    {{'validations.required' | translate}}
                                </mat-error>
                                <mat-error
                                           *ngIf="(staffForm.submitted || controlConfirmPassword.touched) && controlConfirmPassword.errors?.pattern">
                                    Xác nhận mật khẩu không khớp
                                </mat-error>
                            </mat-form-field>

                            <button class="m-r-8" mat-raised-button color="primary"
                                    [disabled]="staffForm.invalid"
                                    (click)="staffForm.form.valid && onSubmitStaffForm(staffForm.value)"><i
                                   class="fa fa-save"></i>Đổi mật khẩu</button>

                        </form>
                    </section>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>