<!-- <form class="form-field-full" #departmentForm="ngForm" name="departmentForm">
  <h2 mat-dialog-title *ngIf="!department?.DepartmentId">Thêm mới đơn vị/phòng ban</h2>
  <h2 mat-dialog-title *ngIf="department?.DepartmentId">Thông tin đơn vị/phòng ban ID :{{department.DepartmentId}}</h2>
  <mat-dialog-content>
    <div fxLayout="row wrap" fxLayoutGap="0px grid">
      <div fxFlex="50" fxFlex.lt-sm="100">
         <mat-form-field appearance="outline"  >
          <mat-label>Tên đơn vị/phòng ban</mat-label>
          <input matInput placeholder="Tên đơn vị/phòng ban" name="Name" #controlName="ngModel"
                 [(ngModel)]="department.Name"
                 required>
          <mat-error *ngIf="controlName.errors?.required">
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-sm="100">
         <mat-form-field appearance="outline"  >
          <mat-label>Mã phòng</mat-label>
          <input matInput name="Mã" #controlCode="ngModel"
                 [(ngModel)]="department.Code"
                 required>
          <mat-error *ngIf="controlCode.errors?.required">
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-sm="100">
         <mat-form-field appearance="outline"  >
          <mat-label>Đơn vị/ phòng cha</mat-label>
          <mtx-select matInput name="ParentId" #controlParentId="ngModel"
                      [(ngModel)]="department.ParentId">
            <mtx-option *ngFor="let opt of listParent" [value]="opt.ParentId">
              {{opt.Name }}
            </mtx-option>
          </mtx-select>
        </mat-form-field>
      </div>
        
      <div fxFlex="50" fxFlex.lt-sm="100">
         <mat-form-field appearance="outline"  >
          <mat-label>Ghi chú</mat-label>
          <input matInput name="Description" #controlDescription="ngModel"
                 [(ngModel)]="department.Description"  >
        </mat-form-field>
      </div>
  
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Đóng</button>
    <button mat-raised-button color="primary" cdkFocusInitial
            [disabled]="departmentForm.invalid"
            (click)="departmentForm.form.valid && onSubmit(departmentForm.value)">Lưu</button>
  </mat-dialog-actions>

</form> -->